 <%= render 'layouts/partials/slider'%>
	<section class="menu">
		<div class="container-fluid">
			<div class="row cover" style="background-image:url(/assets/home.jpg)"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-10 col-lg-offset-1 menu-card page-indent">
					<h2 class="decoration-stars">Today's specials</h2>
					<ul>
						<li>
							<div>
								<p class="name"><span>Vivamus quis mattis risus</span>
								</p>
								<p class="price">$9.99</p>
							</div>
							<p class="mute">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						<li>
							<div>
								<p class="name"><span>Aenean quam lectus</span>
								</p>
								<p class="price">$4.99</p>
							</div>
							<p class="mute">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						<li>
							<div>
								<p class="name"><span>Convallis in sollicitudin</span>
								</p>
								<p class="price">$9.99</p>
							</div>
							<p class="mute">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						<li>
							<div>
								<p class="name"><span>Maecenas non tellus</span>
								</p>
								<p class="price">$19.99</p>
							</div>
							<p class="mute">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						<li>
							<div>
								<p class="name"><span>Quisque quis molestie elit</span>
								</p>
								<p class="price">$12.99</p>
							</div>
							<p class="mute">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
						<li>
							<div>
								<p class="name"><span>Proin ante purus, viverra sit amet cursus nec</span>
								</p>
								<p class="price">$12.99</p>
							</div>
							<p class="mute">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-pattern">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 section-content text-center">
					<h3 class="animateOnScroll" data-animation="fadeInUp">Make a Reservation</h3>
					<p class="animateOnScroll" data-animation="fadeInUp" data-delay=".5s">Duis vel massa fringilla, suscipit risus sit amet, molestie eros.</p>
					<p>&nbsp;</p>
					<button type="button" class="btn btn-primary">Find a table</button>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<h3>Recent works</h3>
			<div class="portfolio grid-4">
				<figure class="animateOnScroll" data-animation="fadeIn">
					<img src="/assets/1.jpg" alt="" />
					<figcaption>
						<h2>Portfolio Item</h2>
						<p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
						<a href="portfolio-item.html">View more</a>
					</figcaption>
				</figure>
				<figure class="animateOnScroll" data-animation="fadeIn">
					<img src="assets/2.jpg" alt="" />
					<figcaption>
						<h2>Portfolio Item</h2>
						<p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
						<a href="portfolio-item.html">View more</a>
					</figcaption>
				</figure>
				<figure class="animateOnScroll" data-animation="fadeIn">
					<img src="/assets/3.jpg" alt="" />
					<figcaption>
						<h2>Portfolio Item</h2>
						<p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
						<a href="portfolio-item.html">View more</a>
					</figcaption>
				</figure>
				<figure class="animateOnScroll" data-animation="fadeIn">
					<img src="/assets/4.jpg" alt="" />
					<figcaption>
						<h2>Portfolio Item</h2>
						<p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
						<a href="portfolio-item.html">View more</a>
					</figcaption>
				</figure>
			</div>
		</div>

	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 section-content text-center animateOnScroll" data-animation="fadeInUp">
					<h5>Location</h5>
					<address>
							<span>Bootstrapstrasse 17</span><br />
							<span>10243 <strong>Berlin</strong></span>
						</address>
					<p><strong>Hours</strong>
						<br />M–Th 11–23
						<br />F-Su 9–24</p>
					<p>&nbsp;</p>
					<p>
						<a href="#"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter social-icon" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
					</p>
				</div>
				<div class="col-sm-12 col-md-6 section-content">
					<img src="assets/place.jpg" class="img-responsive" alt="">
				</div>
			</div>

		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="javascript/swiper.jquery.min.js"></script>
	<script src="javascript/animate-on-scroll.js"></script>
	<script src="javascript/script.js"></script>
	<script>
	var swiper = new Swiper('.swiper-container', {
		pagination: '.swiper-pagination',
		paginationClickable: true,
		nextButton: '.swiper-button-next',
		prevButton: '.swiper-button-prev',
		parallax: true,
		speed: 600,
		autoplay: 2500,
		onSlideChangeStart: (function (swiper) {
			var active = swiper.slides[swiper.activeIndex];
			var animated = $(active).find('*[data-animation]');
			$.each(animated, function (key, value) {
				$(value).addClass($(value).data('animation'));
				$(value).addClass('animated');
			});
		})
	});

	</script>
