
	<div class="container">
		<div class="row">
			<div class="col-md-12 hidden-xs">
				<div class="cover lead-photo">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-10 col-lg-offset-1 menu-card page-indent">
				<h2 class="decoration-stars">appetizers</h2>
				<ul>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">$12.99</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
				</ul>
				<h2 class="decoration-stars">entrees</h2>
				<ul>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
				</ul>
				<h2 class="decoration-stars">desserts</h2>
				<ul>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text..</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text..</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
					<li>
						<div>
							<p class="name"><span>Menu item goes here</span>
							</p>
							<p class="price">UGX 34000</p>
						</div>
						<p class="mute">A brief about the menu item goes here in small text.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/assets/bootstrap.min.js"></script>
	<script src="/assets/script.js"></script>
