
	<div class="container">
		<div class="row portfolio-item">
			<div class="col-md-8">
				<div class="swiper-container gallery-top">
					<div class="swiper-wrapper">
						<img src="/assets/item-1.jpg" alt="" class="swiper-slide">
						<img src="/assets/item-2.jpg" alt="" class="swiper-slide">
						<img src="/assets/item-3.jpg" alt="" class="swiper-slide">
						<img src="/assets/item-4.jpg" alt="" class="swiper-slide">
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next swiper-button-white"></div>
					<div class="swiper-button-prev swiper-button-white"></div>
				</div>
				<div class="swiper-container gallery-thumbs">
					<div class="swiper-wrapper">
						<div class="swiper-slide" style="background-image:url(/assets/item-1.jpg)"></div>
						<div class="swiper-slide" style="background-image:url(/assets/item-2.jpg)"></div>
						<div class="swiper-slide" style="background-image:url(/assets/item-3.jpg)"></div>
						<div class="swiper-slide" style="background-image:url(/assets/item-4.jpg)"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<article class="content">
					<h1>Portfolio Item</h1>
					<p class="text-justify">Enter explanation , <strong>of what this particular portifolio is about.</strong>Keep it brief here.</p>

					<p class="text-center social">
						<a href="#"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter social-icon" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram social-icon" aria-hidden="true"></i></a>
					</p>
				</article>
			</div>
		</div>

		<div class="row content">
			<div class="col-sm-12 col-md-8">
				<h2>Portfolio item details</h2>
				<p>All the details go here. Be as detailed as you can here so customers can fully comprehend what this portfolio is about. </p>
				<h4>Ingredients</h4>
				<ul>
					<li>400 g dried linguine</li>
					<li>olive oil</li>
					<li>350 g tomato passata</li>
					<li>5 tablespoons baby capers</li>
					<li>1 lemon</li>
					<li>Parmesan cheese</li>
				</ul>
				<h4>Method</h4>
				<ol>
					<li>Add your method one here. Explaining step by step how you make it happen.</li>
                    <li>Add your method two here. Explaining step by step how you make it happen</li>
					<li>Add your method three here. Explaining step by step how you make it happen.</li>
				</ol>
			</div>
		</div>

		<div class="recent-works">
			<h3>Recent works</h3>
			<div class="portfolio grid-4">
				<figure>
					<img src="/assets/1.jpg" alt="" />
					<figcaption>
						<h2>Portfolio Item</h2>
						<p>Portifolio brief here</p>
						<a href="portfolio-item.html">View more</a>
					</figcaption>
				</figure>
				<figure>
					<img src="/assets/2.jpg" alt="" />
					<figcaption>
						<h2>Portfolio Item</h2>
						<p>Portifolio brief here</p>
						<a href="portfolio-item.html">View more</a>
					</figcaption>
				</figure>
				<figure>
					<img src="/assets/3.jpg" alt="" />
					<figcaption>
						<h2>Portfolio Item</h2>
						<p>Portifolio brief here</p>
						<a href="portfolio-item.html">View more</a>
					</figcaption>
				</figure>
				<figure>
					<img src="/assets/4.jpg" alt="" />
					<figcaption>
						<h2>Portfolio Item</h2>
						<p>Portifolio brief here</p>
						<a href="portfolio-item.html">View more</a>
					</figcaption>
				</figure>
			</div>
		</div>

	</div>

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/assets/bootstrap.min.js"></script>
	<script src="/assets/swiper.jquery.min.js"></script>
	<script src="/assets/modernizr-custom.js"></script>
	<script src="/assets/script.js"></script>
	<script>
	if (Modernizr.cssanimations) {
		var galleryTop = new Swiper('.gallery-top', {
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			spaceBetween: 10,
			effect: 'fade',
			loop: true,
			loopedSlides: 4
		});
		var galleryThumbs = new Swiper('.gallery-thumbs', {
			spaceBetween: 10,
			centeredSlides: true,
			slidesPerView: 'auto',
			touchRatio: 0.2,
			slideToClickedSlide: true,
			loop: true,
			loopedSlides: 4
		});
		galleryTop.params.control = galleryThumbs;
		galleryThumbs.params.control = galleryTop;
	} else {
		// IE9
		var galleryTop = new Swiper('.gallery-top', {
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev'
		});
	}

	</script>

