
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<article>
					<img src="/assets/blog-thumb-1.jpg" alt="" class="img-responsive">
					<div class="blog-post">
						<div class="blog-post-header">
							<p class="categories"><a href="#">cabbage</a> <a href="#">spring</a> <a href="#">vegetarian</a>
							</p>
							<h2><a href="blog-post.html">Lunch table</a></h2>
							<div class="row">
								<div class="col-sm-6 blog-post-author">
									<i class="fa fa-user" aria-hidden="true"></i> <a href="#">Jean Dow</a>
								</div>
								<div class="col-sm-6 blog-post-date">
									<i class="fa fa-calendar" aria-hidden="true"></i>
									<time datetime="2016-03-03">March 3, 2016</time>
								</div>
							</div>
						</div>
						<div class="blog-post-body">
							<p>All the content in detail of your blog will be here in full when your readers click on the read more button on the previuous page to read the blog fully. I'm now making up words so I can fill this space but this is where the detailed blog would be.</p>
							<p>All the content in detail of your blog will be here in full when your readers click on the read more button on the previuous page to read the blog fully. I'm now making up words so I can fill this space but this is where the detailed blog would be.All the content in detail of your blog will be here in full when your readers click on the read more button on the previuous page to read the blog fully. I'm now making up words so I can fill this space but this is where the detailed blog would be.</p>
							<p><img src="/assets/blog-post.jpg" alt="" class="img-responsive">
							</p>
							<p>All the content in detail of your blog will be here in full when your readers click on the read more button on the previuous page to read the blog fully. I'm now making up words so I can fill this space but this is where the detailed blog would be.</p>
							<p>All the content in detail of your blog will be here in full when your readers click on the read more button on the previuous page to read the blog fully. I'm now making up words so I can fill this space but this is where the detailed blog would be.All the content in detail of your blog will be here in full when your readers click on the read more button on the previuous page to read the blog fully. I'm now making up words so I can fill this space but this is where the detailed blog would be.</p>
							<blockquote>
								<p>This is called a blockquote and it is where you write something if you want to emphasize it and also get the attention of the reader.</p>
								<footer>Someone famous in <cite title="Source Title">Source Title</cite>
								</footer>
							</blockquote>
							<p>Here you can put anything you want to appear. May be a brief of the author of the blog.Here you can put anything you want to appear. May be a brief of the author of the blog.Here you can put anything you want to appear. May be a brief of the author of the blog.Here you can put anything you want to appear. May be a brief of the author of the blog.</p>
						</div>
						<div class="blog-post-footer">
							<div class="tags">
								<a href="#" class="btn btn-default btn-xs"><i class="fa fa-tag" aria-hidden="true"></i> Vegetables</a>
								<a href="#" class="btn btn-default btn-xs"><i class="fa fa-tag" aria-hidden="true"></i> Food</a>
								<a href="#" class="btn btn-default btn-xs"><i class="fa fa-tag" aria-hidden="true"></i> Lunch</a>
								<a href="#" class="btn btn-default btn-xs"><i class="fa fa-tag" aria-hidden="true"></i> Carot</a>
								<a href="#" class="btn btn-default btn-xs"><i class="fa fa-tag" aria-hidden="true"></i> Gluten free</a>
							</div>
							<div class="prev pull-left">
								<a href="#" title="">&larr; previous post</a>
							</div>
							<div class="next pull-right">
								<a href="#" title="">next post &rarr;</a>
							</div>
						</div>
					</div>
				</article>
				<div class="blog-comments">
					<h3>5 comments</h3>

					<div class="comment">
						<div class="comment-content">
							<div class="comment-header">
								<div class="avatar">
									<img src="/assets/face1.jpg" alt="avatar" class="img-responsive">
								</div>
								<div>
									<span class="author"><a href="#">Olaf</a></span>
									<span class="pull-right"><a href="#"><i class="fa fa-reply"></i> Reply</a></span>
									<time datetime="2016-01-12"><i class="fa fa-calendar" aria-hidden="true"></i> Today, 11:23 pm</time>
								</div>
							</div>
							<div class="comment-text">
								This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.
							</div>
						</div>
					</div>
					<div class="comment">
						<div class="comment-content">
							<div class="comment-header">
								<div class="avatar">
									<img src="/assets/face2.jpg" alt="avatar" class="img-responsive">
								</div>
								<div>
									<span class="author"><a href="#">Caroline Doe</a></span>
									<span class="pull-right"><a href="#"><i class="fa fa-reply"></i> Reply</a></span>
									<time datetime="2016-01-12"><i class="fa fa-calendar" aria-hidden="true"></i> Yesterday, 10:23 pm</time>
								</div>
							</div>
							<div class="comment-text">
								This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.
							</div>
						</div>
						<div class="comment">
							<div class="comment-content">
								<div class="comment-header">
									<div class="avatar">
										<img src="/assets/face1.jpg" alt="avatar" class="img-responsive">
									</div>
									<div>
										<span class="author"><a href="#">Olaf</a></span>
										<span class="pull-right"><a href="#"><i class="fa fa-reply"></i> Reply</a></span>
										<time datetime="2016-01-12"><i class="fa fa-calendar" aria-hidden="true"></i> Today, 11:23 pm</time>
									</div>
								</div>
								<div class="comment-text">
									This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.
								</div>
							</div>
						</div>
						<div class="comment">
							<div class="comment-content">
								<div class="comment-header">
									<div class="avatar">
										<img src="/assets/face3.jpg" alt="avatar" class="img-responsive">
									</div>
									<div>
										<span class="author"><a href="#">Adrianne Doe</a></span>
										<span class="pull-right"><a href="#"><i class="fa fa-reply"></i> Reply</a></span>
										<time datetime="2016-01-12"><i class="fa fa-calendar" aria-hidden="true"></i> Today, 11:23 pm</time>
									</div>
								</div>
								<div class="comment-text">
									The comment on a comment would appear here.Made up text.
								</div>
							</div>
						</div>

					</div>

					<div class="comment">
						<div class="comment-content">
							<div class="comment-header">
								<div class="avatar">
									<img src="/assets/face3.jpg" alt="avatar" class="img-responsive">
								</div>
								<div>
									<span class="author"><a href="#">Adrianne Doe</a></span>
									<span class="pull-right"><a href="#"><i class="fa fa-reply"></i> Reply</a></span>
									<time datetime="2016-01-12"><i class="fa fa-calendar" aria-hidden="true"></i> Today, 11:23 pm</time>
								</div>
							</div>
							<div class="comment-text">
								This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.This where the content of the comments would appear.
							</div>
						</div>
					</div>

					<h3>Leave a reply</h3>

					<form name="contact_form" id="contact_form" method="post" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10 animated-form-control">
								<input type="text" name="name" class="text form-control" id="Form_Form_name" required="required" aria-required="true" />
							</div>

						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">E-mail</label>
							<div class="col-sm-10 animated-form-control">
								<input type="email" name="email" class="form-control" required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Website</label>
							<div class="col-sm-10 animated-form-control">
								<input type="text" name="website" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Comment</label>
							<div class="col-sm-10 animated-form-control">
								<textarea name="message" class="textarea form-control" required="required" rows="5" cols="20"></textarea>
							</div>
						</div>
						<div class="form-group">
							<br/>
							<div class="col-sm-12 col-md-12 ">
								<button class="btn btn-primary pull-right">Post Reply</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			            <aside class="col-md-3 sidebar">
                <!-- <div class="block">
                    <h3><span>Blog menu</span></h3>
                    <nav>
                        <ul class="nav">
                            <li><a href="blog-index.html">Blog no sidebars</a>
                            </li>
                            <li><a href="blog-left-sidebar.html">Blog left sidebar</a>
                            </li>
                            <li class="active"><a href="blog-right-sidebar.html">Blog right sidebar</a>
                            </li>
                            <li><a href="blog-post.html">Blog post</a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
                <div class="block">
                    <h3>Recent posts</h3>
                    <div class="row recent-post">
                        <div class="col-sm-5">
                            <img src="/assets/recent-post-1.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-sm-7 recent-text">
                            <h5><a href="blog-post.html">Blog titles here</a></h5>
                            <time datetime="2016-03-03">March 3, 2016</time>
                        </div>
                    </div>
                    <div class="row recent-post">
                        <div class="col-sm-5">
                            <img src="/assets/recent-post-2.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-sm-7 recent-text">
                            <h5><a href="blog-post.html">Blog titles here</a></h5>
                            <time datetime="2016-05-03">May 3, 2016</time>
                        </div>
                    </div>
                    <div class="row recent-post">
                        <div class="col-sm-5">
                            <img src="/assets/recent-post-1.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-sm-7 recent-text">
                            <h5><a href="blog-post.html">Blog titles here</a></h5>
                            <time datetime="2016-03-03">March 3, 2016</time>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h3>Recent comments</h3>
                    <blockquote>
                        <p>All the recent comments go here so people can see what others are saying about your blog.</p>
                        <footer>Jean Dow in <cite title="Lunch table"><a href="blog-post.html">Lunch table</a></cite>
                        </footer>
                    </blockquote>
                    <blockquote>
                        <p>All the recent comments go here so people can see what others are saying about your blog.</p>
                        <footer>Jean Dow in <cite title="Lunch table"><a href="blog-post.html">Lunch table</a></cite>
                        </footer>
                    </blockquote>
                </div>
                <div class="block">
                    <h3>Newsletter</h3>
                    <form>
                        <div class="animated-form-control form-group">
                            <input type="email" name="email" class="form-control" placeholder="E-mail..." required="required" aria-required="true" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-custom">Subscribe Now</button>
                        </div>
                    </form>
                </div>
                <div class="block">
                    <h3>About</h3>
                    <img src="/assets/about.jpg" alt="" class="img-responsive">
                    <div class="text">
                        <p>This could a brief description of the author of the blog. It could briefly state his authority on the issue being blogged about</p>
                    </div>
                </div>
                <div class="block">
                    <h3>Tags</h3>
                    <div class="tags">
                        <a href="#" class="btn btn-default btn-xs">Vegetables</a>
                        <a href="#" class="btn btn-default btn-xs">Food</a>
                        <a href="#" class="btn btn-default btn-xs">Lunch</a>
                        <a href="#" class="btn btn-default btn-xs">Carot</a>
                        <a href="#" class="btn btn-default btn-xs">Gluten free</a>
                    </div>
                </div>
                <div class="block">
                    <h3>Keep in touch</h3>
                    <p class="social">
                        <a href="#"><i class="fa fa-facebook social-icon-small" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter social-icon-small" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram social-icon-small" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube social-icon-small" aria-hidden="true"></i></a>
                    </p>
                </div>
            </aside>
		</div>
	</div>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/assets/bootstrap.min.js"></script>
	<script src="/assets/animate-on-scroll.js"></script>
	<script src="/assets/script.js"></script>

