
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="row-xs-12">
					<div class="divider"></div>
					<div class="text-center">
					<%= link_to(image_tag("/assets/logo.png"), root_path, class:'logo', alt:'')%>
						<!-- <a href="/welcome/index"><img src="/assets/logo.png" alt="" class="logo"> -->
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-9">
					<ul class="footer-links">
						<li><a href="#">Privacy Policy</a>
						</li>
						<!-- <li><a href="/blog/index">Blog</a> -->
						<li><%= link_to "Blog", blog_index_path%></li>
						</li>
						<li><a href="/pages/contact">Contact</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<p>© ZUPA 2016</p>
				</div>
			</div>
		</div>
	</footer>