<section>

		<div class="swiper-container">
			<div class="parallax-bg" style="background-image:url(/assets/slider.jpg)" data-swiper-parallax="-15%"></div>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="swiper-caption">
						<div class="title" data-swiper-parallax="-100" data-animation="fadeInDownBig">Zupa - Responsive Template</div>
						<div class="subtitle" data-swiper-parallax="-200" data-animation="fadeIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
						<div class="text" data-swiper-parallax="-300" data-animation="fadeInUpBig">
							<a href="card.html" class="btn btn-custom btn-lg">read more</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="swiper-caption">
						<div class="title" data-swiper-parallax="-100" data-animation="fadeInDownBig">New Menu</div>
						<div class="subtitle" data-swiper-parallax="-200" data-animation="fadeIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
						<div class="text" data-swiper-parallax="-300" data-animation="fadeInUpBig">
							<a href="card.html" class="btn btn-custom btn-lg">read more</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="swiper-caption">
						<div class="title" data-swiper-parallax="-100" data-animation="fadeInDownBig">Lorem ipsum dolor sit</div>
						<div class="subtitle" data-swiper-parallax="-200" data-animation="fadeIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
						<div class="text" data-swiper-parallax="-300" data-animation="fadeInUpBig">
							<a href="card.html" class="btn btn-custom btn-lg">read more</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination swiper-pagination-white"></div>
			<!-- Add Navigation -->
			<div class="swiper-button-prev swiper-button-white"></div>
			<div class="swiper-button-next swiper-button-white"></div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
					<h1>Our Chef</h1>
					<p class="text-center animated fadeInLeft">Proin at cursus mi. Donec euismod lectus vel lacus luctus sollicitudin. Duis pulvinar magna nunc, eget lobortis eros auctor id.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 section-content animatedParent animateOnce">
					<img src="/assets/chef.jpg" class="img-responsive  animated fadeIn" alt="">
				</div>
				<div class="col-sm-12 col-md-6 section-content">
					<h3>Mauris quis eros tortor</h3>
					<p>Duis vel massa fringilla, suscipit risus sit amet, molestie eros. Proin at cursus mi. Donec euismod lectus vel lacus luctus sollicitudin. Sed sed purus sapien. <strong>Duis pulvinar magna nunc, eget lobortis eros auctor id.</strong> Praesent hendrerit enim eu commodo interdum.</p>
					<p><strong>Mauris quis eros tortor.</strong> Ut quis justo tellus. Duis vel massa fringilla, suscipit risus sit amet, molestie eros. Proin at cursus mi. </p>
					<p>&nbsp;</p>
					<button type="button" class="btn btn-primary btn-lg btn-block">More</button>
				</div>
			</div>
		</div>
	</section>