<section>

		<div class="swiper-container">
			<div class="parallax-bg" style="background-image:url(/assets/slider.jpg)" data-swiper-parallax="-15%"></div>
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="swiper-caption">
						<div class="title" data-swiper-parallax="-100" data-animation="fadeInDownBig">Epicurean restuarant</div>
						<div class="subtitle" data-swiper-parallax="-200" data-animation="fadeIn">Deliciuos meals prepared by our in-house chef</div>
						<div class="text" data-swiper-parallax="-300" data-animation="fadeInUpBig">
						  
							<a href="/pages/card" class="btn btn-custom btn-lg">read more</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="swiper-caption">
						<div class="title" data-swiper-parallax="-100" data-animation="fadeInDownBig">New Menu</div>
						<div class="subtitle" data-swiper-parallax="-200" data-animation="fadeIn">Describe your new menu here briefly</div>
						<div class="text" data-swiper-parallax="-300" data-animation="fadeInUpBig">
							<a href="/pages/card" class="btn btn-custom btn-lg">read more</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="swiper-caption">
						<div class="title" data-swiper-parallax="-100" data-animation="fadeInDownBig">Name another dish here</div>
						<div class="subtitle" data-swiper-parallax="-200" data-animation="fadeIn">Describe the dish here briefly as well</div>
						<div class="text" data-swiper-parallax="-300" data-animation="fadeInUpBig">
							<a href="/pages/card" class="btn btn-custom btn-lg">read more</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination swiper-pagination-white"></div>
			<!-- Add Navigation -->
			<div class="swiper-button-prev swiper-button-white"></div>
			<div class="swiper-button-next swiper-button-white"></div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
					<h1>Our Chef</h1>
					<p class="text-center animated fadeInLeft">Say something about your chef here. It could be his experience and speciality- Keep it brief and to the point.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 section-content animatedParent animateOnce">
					<img src="/assets/chef.jpg" class="img-responsive  animated fadeIn" alt="">
				</div>
				<div class="col-sm-12 col-md-6 section-content">
					<h3>Epicurean Restaurant</h3>
					<p>Here you can briefly talk about the restaurant ambiance <strong>Emphasize your strong points as a restaurant.</strong> You can also talk about what sets you apart as restaurant.</p>
					<p><strong>This can be continued in a blog if you want when people click on the more button.</strong></p>
					<p>&nbsp;</p>
					<button type="button" class="btn btn-primary btn-lg btn-block">More</button>
				</div>
			</div>
		</div>
	</section>